<app-nav></app-nav>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<div class="container">
  <section class="banner-section">
  </section>
  <section class="post-content-section">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 post-title-block">
          <h1 class="text-center">{{user.login}}</h1>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <p class="lead">{{user.birthday}}</p>
          <p class="lead">{{user.phone}}</p>
          <p class="lead">{{user.email}}</p>
          <blockquote style="background-color: white">
            <p>{{user.about}}</p>
          </blockquote>
          <div class="image-block">
            <img [src]="getUserPhoto(user)" alt="postPhoto" height="700" width="600" class="img-responsive">
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="btn-primary btn" id="button_closed_chat" (click)="openChat()">Відкрити чат з цим користувачем</div>
          <div id="chat" class="container">
            <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
              <div class="col-xs-12 col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading top-bar">
                    <div class="col-md-8 col-xs-8">
                      <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat - {{user.login}}</h3>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                      <a><span (click)="closeChat()" class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                      <a><span (click)="hideChat()" id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                    </div>
                  </div>
                  <div class="panel-body msg_container_base">
                    <div *ngFor="let message of messages">
                      <div *ngIf="message.user_id.user_id.toString() === this.cookieService.get('userIdAuthorization')"
                           class="row msg_container base_sent">
                        <div class="col-md-10 col-xs-10">
                          <div class="messages msg_sent">
                            <p>{{message.text}}</p>
                            <time datetime="2009-11-13T20:00">{{message.date | date: 'short'}}</time>
                          </div>
                        </div>
                        <div class="col-md-2 col-xs-2 avatar">
                          <img [src]="getUserPhoto(chat.first_user_id)" class=" img-responsive ">
                        </div>
                      </div>
                      <div *ngIf="message.user_id.user_id === user.user_id"
                           class="row msg_container base_receive">
                        <div class="col-md-2 col-xs-2 avatar">
                          <img [src]="getUserPhoto(user)" class=" img-responsive ">
                        </div>
                        <div class="col-md-10 col-xs-10">
                          <div class="messages msg_receive">
                            <p>{{message.text}}</p>
                            <time datetime="2009-11-13T20:00">{{message.date| date: 'short'}}</time>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <div class="input-group">
                      <input id="btn-input" type="text"
                             class="form-control input-sm chat_input"
                             placeholder="Write your message here..." [(ngModel)]="sendTextMessage"/>
                      <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" (click)="sendMessage()" id="btn-chat">Send</button>
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="btn-group dropup">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" id="new_chat"><span class="glyphicon glyphicon-plus"></span> Novo</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-list"></span> Ver outras</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Fechar Tudo</a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="glyphicon glyphicon-eye-close"></span> Invisivel</a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    </div>
  </section>
</div>
<app-footer></app-footer>

