<div class="container-fluid" id="last_window" style="margin-top: 5%">
  <footer>
    <div style="opacity: 1;background-color: inherit;height: 100%;">
      <div class="container-fluid" style="height: 100%;">
        <div class="row" style="height: 50%;">
          <div class="col-lg-6" style="height: 100%;">
            <img src="../../../assets/images/icon.png" style="height: 100%;float: left;">
            <h1 style="margin-top: 2%;color: white;">BLOG</h1>
          </div>
          <div class="col-lg-6" style="height: 100%;">
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <p style="color: grey; margin-top: 2%;">Email</p>
                </div>
                <div class="row">
                  <p style="color: white;">KHMEET.Khmelnytskyi@gmail.com</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <p style="color: white; margin-top: 2%;float: right;">Наші контакти</p>
                </div>
                <div class="row">
                  <p style="color: white;float: right;">в Telegram</p>
                </div>
                <div class="row" style="margin: 0;">
                  <p style="color: white;margin: 0;float: right;">@DmytroYamborko</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
