<div class="container" id="second_window">
  <div class="container-fluid" id="main_cont">
    <div class="row container">
      <div class="col-sm-12 col-lg-6">
        <img alt=".." src="../../assets/images/photo_us.jpg" style="height: 65%; margin-top: 15%;color: white; ">
      </div>
      <div class="col-sm-12 col-lg-6" style="background-color: white;">
        <p>Обожнюєш рибалку? Любиш малювати графіті?</p>
        <p>Грати на гітарі? Чи просто вирощувати такс?</p>
        <h3 class="c">Цей сайт для тебе! </h3>
        <div class="c_text">
          <p class="c">Ми допоможемо знайти твоїх однодумців,</p>
          <p class="c">організувати з ними зустріч або ж навіть</p>
          <p class="c">цілий хобі клуб.</p>
        </div>
        <div class="c_text">
          <p class="c">Все дуже просто - вибрати зі списку інтересів те,</p>
          <p class="c">що цікавить саме тебе або додати короткий допис</p>
          <p class="c">(З описом твого гуртка хенд-мейду або ж навіть</p>
          <p class="c">нової рок-групи, хто зна :) ).</p>
          <h2>Знайомся, спілкуйся, твори!</h2>
        </div>
      </div>
    </div>
  </div>
</div>
